<div class="row justify-content-center mb-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header text-center">
                <h3>{{ config.title }}</h3>
            </div>
            <div class="card-body">
                {{> message}}
                <div class="text-right">
                    <small class="text-danger">* 為必填欄位</small>
                </div>
                <form action="{{ config.action }}" method="POST" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="name">支出名稱<span class="text-danger">*</span></label>
                        <input class="form-control custom-input" type="text" name="name" placeholder="請輸入支出名稱">
                    </div>
                    <div class="form-group">
                        <label for="date">日期<span class="text-danger">*</span></label>
                        <input class="form-control custom-input" type="date" name="date" id="date">
                    </div>
                    <div class="form-group">
                        <label for="category">類別<span class="text-danger"></span></label>
                        <select class="form-control custom-input" name="category" id="category">
                            <option value="" selected disabled>請選擇</option>
                            {{#each category}}
                            <option value="{{ this.name }}">{{ this.title }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount">金額<span class="text-danger"></span></label>
                        <input class="form-control custom-input" type="number" name="amount" id="amount" min="0"
                            placeholder="請輸入金額">
                    </div>
                    <div class="form-group">
                        <label for="merchant">商家<span class="text-danger"></span></label>
                        <input class="form-control custom-input" type="text" class="form-control" id="merchant"
                            name="merchant" placeholder="請輸入商家名稱">
                    </div>
                    <button type="submit" class="btn btn-major btn-sm btn-block">送出</button>
                </form>
            </div>
        </div>
    </div>
</div>