body {
  font-family: 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
}

.total-amount {
  font-size: 64px;
  color: #fd7e14;
}

.record .icon {
  color: #65b2bf;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 0;
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.record .name,
.record .amount,
.btn,
.font-size-larger {
  font-size: larger;
}

.font-size-large {
  font-size: large;
}

.btn-major {
  background-color: #fd7e14;
  color: #ffffff;
}

.btn-major:hover {
  background-color: #bd3e00;
  color: #ffffff;
}

.border-major {
  border-color: #fd7e14 !important;
}

.row-striped .row:nth-child(odd) {
  background-color: #fae1dd;
}

/* custom input start */
.custom-input {
  box-shadow: none !important;
  border-width: 0px !important;
  border-bottom: 2px solid #a5a58d !important;
  border-radius: 0 !important;
}
.custom-input:focus {
  border-color: #6b705c !important;
}
/* custom input end */

@media screen and (max-width: 768px) {
  .record .icon {
    margin-top: 2vh;
    justify-content: start;
  }

  .flex-column-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
} 